html {
    font-family: roboto;
}

header {
    background: #4C3B4D;
}

header h1, aside {
    color: #FFEED8;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

div {
    width: 300px;
    display: inline-flex;
    justify-content: space-between;
    padding: 10px;
}

footer {
    margin-top: 50px;
    background: #4C3B4D;
    text-align: center;
}

footer h2 {
    color: #FFEED8;
}

.height {
  width: 50px;
}

#race {
    width: 150px;
}

input {
    width: 150px;
}

#disease-select {
    display: inline-block;
}

#consent {
    display: flex;
    font-size: 15px;
}

#consent-checkbox {
    height: 10px;
}

/*For button to statistics page*/
.button-class {
    position: relative;
    top: 55px;
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 4px; 
    text-decoration: none; 
    text-align: center;
    cursor: pointer;
}

.button-class:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.button-class:active {
    background-color: #004085; 
    border-color: #004085;
}
