<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>Medical ;)</title>
</head>

<body>
    <header class="header">
        <h1>MTSU Center for Medical Database Management and Research (TM)</h1>
        <aside>For Dr. Poudel CSCI4560</aside>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='medical-website.interact.js') }}"></script>
    </header>
    <h2>
        Please enter your information in order to determine which diseases you may be at risk for!
    </h2>
    <form action="" id="user_input">
        <div>
            <label for="first_name">First name:</label>
            <input type="text" id="first_name" name="first_name" pattern="^\S+$" required>
        </div><br>
        <div>
            <label for="last_name">Last name:</label>
            <input type="text" id="last_name" name="last_name" pattern="^\S+$" required>
        </div><br>
        <div>
            <label for="age">Age: </label>
            <input type="number" id="age" name="age" max="120" min="0" required>
        </div><br>
        <div class="gender-select">
            <label>Gender:</label>
            <input type="radio" id="male" name="gender" value="male" required>
            <label for="male">Male</label>
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">Female</label>
            <input type="radio" id="other" name="gender" value="other">
            <label for="other">Other</label>
        </div><br>
        <div>
            <label>Height:</label>
            <input type="number" id="height_ft" name="height_ft" class="height" max="7" min="0" required>
            <label for="height_ft">ft</label>
            <input type="number" id="height_in" name="height_in" class="height" max="12" min="0" required>
            <label for="height_in">in</label>
        </div><br>
        <div>
            <label for="weight">Weight (lbs):</label>
            <input type="number" id="weight" name="weight" step="0.1" max="600" min="0" required>
        </div><br>
        <div>
            <label for="race">Race:</label>
            <select id="race" name="race">
                <option value="Native American">American Indian/Alaska Native</option>
                <option value="Asian">Asian</option>
                <option value="Black">Black or African American</option>
                <option value="Hawaiian">Native Hawaiian or Other Pacific Islander</option>
                <option value="White" selected="selected">White</option>
            </select>
        </div><br>
        <div id="lifestyle-select">
            <label for="lifestyle">Which best describes you:</label>
            <select id="lifestyle" name="lifestyle">
                <option value="Sedentary" selected="selected">Sedentary</option>
                <option value="Active">Active</option>
                <option value="Smoker">Smoker</option>
                <option value="Non-smoker">Non-Smoker</option>
            </select>
        </div><br>
        <div id="disease-select">
            <label for="disease">Have you ever been diagnosed with any of the following...</label>
            <select id="disease" name="disease">
                {% for disease in diseases %}
                    {%  if disease == "Healthy" %}
                        <option value="{{  disease }}" selected="selected"> {{ disease }}</option>
                    {% else %}
                        <option value="{{  disease }}"> {{ disease }}</option>
                    {%  endif %}
                {% endfor %}
            </select>
        </div><br>
        <div id="consent"></div><br>
        <button type="submit">Submit</button>
    </form>

    <div>
        <a href="/statistics" class="button-class">Medical Condition Statistics</a>
    </div><br>
    
    <h3 id="prediction-label"></h3>
    <p id="prediction"></p>
    <a id="rec"></a>
</body>

<footer>
    <h2>Derek Credland<br>Aaryan Lakhani<br>Ronald Montilla<br>Jake Salter<br>William Stutts<br></h2>
</footer>

</html>
