<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>MEDICAL!!MEDICAL!!MEDICAL</title>
</head>

<body>
    <header class="header">
        <h1>MTSU Center for Medical Database Management and Research (TM)</h1>
        <aside>For Dr. Poudel CSCI4560</aside>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='medical-website.interact.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
    </header>
    <p>
        Please enter your information in order to determine which diseases you may be at risk for!
    </p>
    <form id="user_input">
        <div>
            <label for="first_name">First name:</label><br>
            <input type="text" id="first_name" name="first_name">
        </div><br>
        <div>
            <label for="last_name">Last name:</label>
            <input type="text" id="last_name" name="last_name">
        </div><br>
        <div>
            <label for="age">Age: </label><br>
            <input type="number" id="age" name="age">
        </div><br>
        <div class="gender-select">
            <label>Gender:</label><br>
            <input type="radio" id="male" name="gender" value="male">
            <label for="male">Male</label>
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">Female</label>
            <input type="radio" id="other" name="gender" value="other">
            <label for="other">Other</label>
        </div><br>
        <div>
            <label for="height">Height:</label><br>
            <input type="number" id="height" name="height">
        </div><br>
        <div>
            <label for="weight">Weight:</label><br>
            <input type="number" id="weight" name="weight">
        </div><br>
        <div>
            <label for="race">Race:</label><br>
            <select id="race" name="race">
                <option value="native">American Indian/Alaska Native</option>
                <option value="asian">Asian</option>
                <option value="black">Black or African American</option>
                <option value="hawaiian">Native Hawaiian or Other Pacific Islander</option>
                <option value="white" selected="selected">White</option>
            </select>
        </div><br>
        <button onclick="submitButton()">Submit</button>
    </form>
</body>

<footer>
    <h2>Derek Credland<br>Aaryan Lakhani<br>Ronald Montilla<br>Jake Salter<br>William Stutts<br></h2>
</footer>

</html>