<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>
</head>


<body> 
 <!-- Main Content -->
        <header class="header">
        <h1>MTSU Disease Predictor</h1>
        <aside>CSCI 4560: Database Management - Dr. Poudel</aside>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='sidenav.js') }}"></script>
    </header>
    
    <nav id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{{ url_for('index') }}">Home</a>
        <br>
        <a href="{{ url_for('predictor') }}">Predictor App</a> 
        <br>
        <a href="{{ url_for('statistics') }}">Statistics</a>
        <br>
     </nav>

    <main class="fullscreen-backgroundindex">

        <button style onclick="openNav()"> Get Started</button>

    </main>

    </div>
    
</body>
<footer>
    <h2>Contributors</h2>
    Derek Credland | Aaryan Lakhani | Ronald Montilla | Jake Salter | William Stutts
    <br>
    <br>
</footer>
</html>
