<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Disease Statistics</title>
</head>

<body>
    <header class="header">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='sidenav.js') }}"></script>
        <d3><span style= "cursor:pointer" onclick="openNav()">&#9776 Menu</span></d3> 
       <h1>Statistics</h1>
    </header>


    <nav id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('predictor') }}">Predictor App</a>
        <a href="{{ url_for('statistics') }}">Statistics</a>
    </nav>
    
    <main class="fullscreen-backgroundpredictor">
    <h2>
        Here are the statistics used to determine the risk of developing a condition
    </h2>

    <iframe title="Final Report Visual" width="1840" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiMWViN2IyOTktNTEzNC00M2ExLWI2NDktM2U3OTQ0NzY4OThmIiwidCI6Ijc2MmViZjQwLTgwYjItNDBiYS04NmZlLTZkZDQwOWFjYjQ5OSIsImMiOjN9" frameborder="0" allowFullScreen="true"></iframe>
    </main>
</body>

<footer>
    <h2>Contributors</h2>
    Derek Credland | Aaryan Lakhani | Ronald Montilla | Jake Salter | William Stutts
    <br>
    <br>
</footer>
</html>
    