<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>Disease Statistics</title>
</head>

<body>
    <header class="header">
        <h1>MTSU Center for Medical Database Management and Research (TM)</h1>
        <aside>For Dr. Poudel CSCI4560</aside>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='medical-website.interact.js') }}"></script>
    </header>
    <h2>
        Here are the statistics used to determine the risk of developing a condition
    </h2>

    <iframe title="Final Report Visual" width="1840" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiMWViN2IyOTktNTEzNC00M2ExLWI2NDktM2U3OTQ0NzY4OThmIiwidCI6Ijc2MmViZjQwLTgwYjItNDBiYS04NmZlLTZkZDQwOWFjYjQ5OSIsImMiOjN9" frameborder="0" allowFullScreen="true"></iframe>

    <footer>
        <h2>Derek Credland<br>Aaryan Lakhani<br>Ronald Montilla<br>Jake Salter<br>William Stutts<br></h2>
    </footer>
    
    </html>
    